header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#screenBoard {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column-reverse;
}
.column:hover {
    background-color: lightblue;
}

.cell {
    height: 75px;
    width: 75px;
    margin: 5px;
    background-color: gray;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}

#menuPopup {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */

    background-color: rgba(0,0,0,0.4);
    padding: 10%;
}
#menuInternal {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    width: 60%;
    height: 60%;
    background-color: white;
    padding: 20px;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}