@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
    font-family: 'Heebo';
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    padding: 15px;
    font-weight: bolder;
}

main {
    display: flex;
    justify-content: center;
}

#screenBoard {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding: 10px 20px 30px;
    border-radius: 10px;
    user-select: none;
}

.column {
    display: flex;
    flex-direction: column-reverse;
}
.column:hover {
    background-color: lightblue;
    border-radius: 10px;
}

.cell {
    height: 75px;
    width: 75px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}

#menuPopup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(0,0,0,0.4);
}
#menuInternal {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    flex-basis: 600px;
    aspect-ratio: 1.2;
    background-color: white;
    padding: 30px;
}

.rangeContainer {
    display: flex;
    flex-direction: column;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}